div.mediaSlideContent {
    align-self: center;
    flex-shrink: 0;

    img {
        max-width: 250px;
        width: 100%;
    }

    @media (max-width: 720px){
        img {
            max-width: 200px !important;
            display: block;
            margin: auto;
        }
    }

    @media (max-width: 480px){
        width: 100%;
        order: 2;
    }
}
