section.slide {
    width: 100%;

    div.container {
        box-sizing: border-box;
        padding: 84px 12px;
        max-width: 1200px;
        display: flex;
        margin: auto;
        width: 100%;

        @media (max-width: 480px){
            padding: 48px 12px;
            flex-wrap: wrap;
        }
    }
}
